
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: #395D6B;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #395D6B;
        border-radius: 29px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: #395D6B;
            color: white;
            border-radius: 29px;
            border-bottom: 3px solid;
        }

        .nav-item ::deep a:hover {
            background-color: #395D6B;
            color: #fff;
            border-radius: 29px;
        }

.btn-danger {
    background-color: #6B5A39;
    border-color: #6B5A39;
}


ul {
    list-style: none;
}

/*ion-icon{
    font-size:1em;
    width: 1em;
    text-align:center;
    box-sizing:content-box;
}*/

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }

}
