@page "/history"

<div class="tablecontainer">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Hospital</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Prescription</th>
                <th scope="col">Doctor</th>
                <th scope="col">Illness</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>St. Mary's Hospital</td>
                <td>2023-10-15</td>
                <td>10:00 AM</td>
                <td>Fragile</td>
                <td>DrJim</td>
                <td>
                    Typhoid
                </td>
            </tr>
            <tr>
                <td>St. Mary's Hospital</td>
                <td>2023-10-15</td>
                <td>10:00 AM</td>
                <td>Fragile</td>
                <td>DrJim</td>
                <td>
                    Typhoid
                </td>
            </tr>
            <tr>
                <td>St. Mary's Hospital</td>
                <td>2023-10-15</td>
                <td>10:00 AM</td>
                <td>Fragile</td>
                <td>DrJim</td>
                <td>
                    Typhoid
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>




@code {

}
